.body {
  background-color: rgb(32, 32, 32);
  height: 100vh;
}

#sidebar {
  background-color: rgb(32, 32, 32);
  color: #faebd7;
  height: 90vh;
  margin-left: 5vh;
  margin-top: 5vh;
  z-index: 2;
  border-style: solid;
  border-radius: 2%;
  width: auto;
  border-color: grey;
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

#sidebar::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: grey;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.timetable {
  background-color: rgb(58, 58, 58);
  color: #faebd7;
  height: 90vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 5vh;
  z-index: 2;
  border-radius: 2%;
}

.timetable-MWF {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(107, 107, 107);
  color: #faebd7;
  margin-left: 1vh;
  margin-top: 3vh;
  width: 95%;
  height: 15%;
}

.timetable-TR {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(122, 120, 120);
  color: #faebd7;
  margin-left: 1vh;
  margin-top: 3vh;
  width: 95%;
  height: 15%;
}

.accordian {
  float: right;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: small !important;
}
.course {
  background-color: grey !important;
  color: white !important;
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 5%;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  cursor: grab;
}

.course-hover {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
}

.course-hold {
  cursor: grabbing;
}

.add {
  position: relative;
  right: 0;
  top: 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.8;
  cursor: pointer;
  color: white;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#sortable li {
  margin: 15px 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.button1 {
  float: right;
  margin: auto;
  padding: 5px;
  position: absolute;
  bottom: 10%;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: grey;
}

.awesomplete {
  color: black;
}

.ui-state-default {
  border-width: 1px;
  border-style: solid;
  border-color: grey !important;
}
